:root {
  /*
    Here we define all the contants required for the app.
    This includes the color scheme and font sizes.
  */
  --topbar-color: #00A5E5;
  --app-background-color: #FFFFFF;
  --weather-display-background-color: #F8F9FA;
  --border-color: #E6E6E6;
  --more-info-background-color: #E5F6FD;
  --font-color-dark: #262626;
  --font-color-light: #70757A;
  --font-size-header: 23pt;
  --font-size-dropdown: 13pt;
  --font-size-maincity: 19pt;
  --font-size-weather-text: 13pt;
  --font-size-temperature-now: 26pt;
  --font-size-date: 15pt;
  --font-size-time-now: 13pt;
  --font-size-weather-moreinfo-now: 13pt;
  --font-size-futuretime: 13pt;
  --font-size-temperature-future: 15pt;
  --font-size-weather-moreinfo-future: 10pt;
  --topbar-height: 30px;
  --weather-width: 300px;
}

body {
  font-family: 'Arial Regular', Arial;
  margin: 0;
  color: var(--font-color-dark);
  background-color: var(--app-background-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
}

.topbar {
  background-color: var(--topbar-color);
  height: var(--topbar-height);
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 1; /*prevent images from going on top of the bar*/
}

.main {
  background-color: var(--app-background-color);
  color: var(--font-color-dark);
  margin-top: var(--topbar-height);
}

h1 {
  font-size: var(--font-size-header);
  font-weight: 500;
}

.dropdown {
  font-size: var(--font-size-dropdown);
  min-width: var(--weather-width);
  background-color: var(--app-background-color);
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: var(--border-color);
  border-style: solid;
}

.weather-view {
  background-color: var(--weather-display-background-color);
  width: 100%;
  min-height:100vh;
  text-align: center;
  padding-top: 20px;
}

.city-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  padding-bottom: 200px;
}

.city {
  min-width: var(--weather-width);
  max-width: 80%;
  margin-top: 12px;
  flex: 0 0 100%;
  padding-bottom: 10px;
}

.now {
  background-color: var(--app-background-color);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
  align-items: end;
  justify-items: stretch;
  border: 1px;
  border-color: var(--border-color);
  border-style: solid;
  margin-bottom: 10px;
}

.now > * {
  margin: 12px;
}

.main-info {
  text-align: left;
}

.city-name {
  font-size: var(--font-size-maincity);
}

.weather-type {
  font-size: var(--font-size-weather-text);
  color: var(--font-color-light);
}

.temperature {
  font-size: var(--font-size-temperature-now);
  text-align: right;
}

.img-weather {
  height: 1.5em;
  vertical-align: middle;
  filter: drop-shadow(0px 4px 4px #808080);
}

.time {
  text-align: left;
}

.mm-dd {
  font-size: var(--font-size-date);
}

.hh-min {
  font-size: var(--font-size-time-now);
  color: var(--font-color-light)
}

.weather-other {
  font-size: var(--font-size-weather-moreinfo-now);
  color: var(--font-color-light);
  text-align: right;
}

.future {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 6px;
}

.future-child {
  border-radius: 5px;
  text-align: center;
  border: 1px;
  border-color: var(--border-color);
  border-style: solid;
  display: grid;
  grid-template-rows: auto auto;
}

.img-weather-future {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(0px 4px 4px #808080);
}

.future-time {
  font-size: var(--font-size-futuretime);
  color: var(--font-color-light)
}

.future-temp {
  font-size: var(--font-size-temperature-future);
}

.future-top {
  background-color: var(--app-background-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.future-bottom {
  background-color: var(--more-info-background-color);
  font-size: var(--font-size-weather-moreinfo-future);
  color: var(--font-color-light);
  padding-top: 10px;
  padding-bottom: 10px;
}

/*

.ip is for the loading screen
Copied from Jon Kantner's codepen:
https://codepen.io/jkantner/pen/mdKOpbe

*/
.ip {
	width: 16em;
	height: 8em;
  padding-top: 100px;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}